<h1>SummaryChart</h1>


<div class="container">
    <div id="chart1"></div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
    </script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
    </script>
 

        <div id="container" style="width: 550px; height: 400px; margin: 0 auto">
        </div>
        <script language="JavaScript">
            function drawChart() {
                $.get('SummaryJsonData', function (jsonData) {
                    // Define the chart to be drawn.
                    var data = google.visualization.arrayToDataTable(jsonData,false);

                    var options = { title: 'Population (in millions)' };

                    // Instantiate and draw the chart.
                    var chart = new google.visualization.ColumnChart(document.getElementById('chart1'));
                    chart.draw(data, options);
                })
            }

            google.charts.setOnLoadCallback(drawChart);
        </script>
  }